*{
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  padding: 10px;
  background: #e3f4ff;
  
}

.content {
  background: #e3f4ff;
  margin: 10px 0;
  padding: 12px 8px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 8px;
}

button {
  padding: 10px 25px;
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
}